# --- Arquivos Secretos ---
# NUNCA envie sua senha do Supabase para o GitHub!
.env

# --- Pasta de Instância do Flask ---
# Pode conter segredos ou o banco de dados local antigo
instance/

# --- Cache e Arquivos Gerados pelo Python ---
# Pastas de cache de "compilação" do Python
__pycache__/
*.pyc
*.pyo

# --- Banco de Dados Local Antigo ---
# Ignora o banco de dados SQLite que você usava antes
*.db
*.sqlite
*.sqlite3

# --- Ambiente Virtual (venv) ---
# Ignora toda a pasta de bibliotecas.
# Quem baixar seu projeto deve recriá-la usando o requirements.txt
venv/
.venv/
env/

# --- Arquivos de IDE e Sistema ---
# Cache do VS Code
.vscode/

# Cache geral (da sua lista)
.cache/

# Arquivos do macOS
.DS_Store

# Arquivos do Windows
Thumbs.db
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/admin.cpython-310.pyc
app/__pycache__/models.cpython-310.pyc
app/__pycache__/routes.cpython-310.pyc
app/__pycache__/tarefas.cpython-310.pyc
